{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <!-- Projects Page -->
    <div id="projects" class="page">
        <div class="container">
            <div class="section-title">
                <h2>All Projects</h2>
                <p>Discover projects that inspire you</p>
            </div>
            
            <form style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 30px;">
                {% bootstrap_form myfilter.form %}
                <input type="submit" value="search" class="btn btn-primary" style="height: 60px; width: 120px;">
            </form>
            
            <div class="projects-grid">
                {% for project in projects %}
                <div class="card project-card" style="{% if forloop.counter > 6 %}display:none;{% endif %}">
                    <div class="project-image">
                        <a href="{% url "project_detail" project.slug %}">
                            <img src="{{ project.image.url }}" alt="Project Image">
                        </a>

                    </div>
                    <div class="project-content">
                        <h3 class="project-title">{{ project.title }}</h3>
                        <p class="project-description">{{ project.description }}</p>
                        <div class="project-progress">
                            <div class="progress-bar" style="width: {{  project.funded_amount|floatformat:0 }}%;"></div>
                        </div>
                        <div class="project-details">
                            <span>{{ project.funded_amount|floatformat:0 }}% funded</span>
                            <span>£{{ project.donation_amount|floatformat:0 }} raised</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div style="text-align: center; margin-top: 40px;">
                <button class="btn btn-outline" id="viewAllBtn">Load More Projects</button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('viewAllBtn').addEventListener('click', function() {
            document.querySelectorAll('.project-card').forEach(function(card) {
                card.style.display = 'block';
            });
            this.style.display = 'none'; 
        });
    </script>


    <script src="js/main.js"></script>
</body>
</html>
{% endblock content %}