{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <!-- Profile Page -->
    <div id="profile" class="page">
        <div class="container profile">
            <div class="profile-header">
               {% if user.profile.image_profile %}
                    <img src="{{ user.profile.image_profile.url }}" alt="profile" class="profile-avatar"  >
                {% else %}
                    <img src="{% static 'img/staticimg.jpg' %}" alt="default profile" class="profile-avatar"  >
                {% endif %}
                <div class="profile-info">
                    <h2>{{profile}}</h2>
                    <p>{{profile.country}} , {{profile.city}}</p>              
                </div>
            </div>
            
            <div class="profile-stats">
                <div class="stat-card">
                    <div class="stat-number">{{ projects_count }}</div>
                    <div class="stat-label">Projects Created</div>
                </div>
                <div class="stat-card">
                    <div class="stat-number">{{ projects_count }}</div>
                    <div class="stat-label">Projects Supported</div>
                </div>
                <div class="stat-card">
                    <div class="stat-number">1</div>
                    <div class="stat-label">Total Donated</div>
                </div>
            </div>
            

                
                <div class="profile-content-area">
                    <h2>Profile Information</h2>
                    <form method="post" style="margin-top: 30px;">
                        {% csrf_token %}
                        {% bootstrap_form userform %}
                        {% bootstrap_form profileform %}
                        <button type="submit" class="btn btn-primary" style="margin-top : 20px;">Save Changes</button>
                    </form>
                    
                    <form method="post" action="{% url 'accounts:delete_profile' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline" style="border-color: var(--danger); color: var(--danger); margin-top: 15px;">Delete Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
